.venv/
.v1_tuning/
*.csv


Numerics/v1_tuning/

Numerics/scripts/v1_tuning/

Numerics/scripts/v2_tuning/

Numerics/scripts/v3_tuning/

Numerics/scripts/v4_tuning/

Numerics/scripts/final_tuning/

Numerics/scripts/simple_tuning/
